.list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.svgloader{
    margin: 50px auto;
    width: 100px;
    height: 100px;
}
.newuserbutton{
    width: 170px;
    height: 61px;
    font-size: 19px;
    border-radius: 8px;

    color: white;
    border:none;
    padding: 20px;
    background-color: rgba(57, 51, 176,0.9);
    // background-color: hsla(15%, 40%, 10%, 0.5);
    outline:none;
    &:hover{
        background-color: rgba(57, 51, 176,1);
        box-shadow: 3px 2px 5px 1px gray;
    }
}